<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Goldman&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Turret+Road&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="bmicalc.js" defer></script>
    <title>DOM exercise</title>
  </head>
  <body>
    <div>
      <h3>BMI calculator</h3>
      <input type="number" placeholder="Height (M. Ex. 1.8)" id="inputHeight" />
      <input type="number" placeholder="Weight (KG. Ex. 80)" id="inputWeight" />
      <button id="bmiButton">Calculate BMI</button>
      <p id="bmiResult"></p>
    </div>
  </body>
</html>
